# fly.toml app configuration file generated for chrono-split on 2025-11-06T19:31:34+06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'chrono-split'
primary_region = 'sin'

[build]

[deploy]
  release_command = 'npx prisma migrate deploy'

[env]
  PORT = '3000'
  SCOPES = 'read_channels,read_checkouts,read_customers,read_discounts,read_draft_orders,read_inventory,read_locations,read_order_edits,read_orders,read_price_rules,read_products,read_validations,write_channels,write_checkouts,write_customers,write_discounts,write_draft_orders,write_inventory,write_locations,write_order_edits,write_orders,write_price_rules,write_products,write_validations'
  SHOPIFY_API_KEY = '8a2c0d26be7c23277950537f65d74dea'
  SHOPIFY_APP_URL = 'https://chrono-split.fly.dev'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
